<h1 class="text-3xl">About the application</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga explicabo
    iure suscipit facilis ducimus optio dolorum, eos perferendis expedita
    quaerat dignissimos inventore cupiditate aspernatur, debitis dolor autem?
    Sequi officiis consequatur ab! Veniam deleniti suscipit incidunt quo soluta
    eaque quidem, voluptatum exercitationem! Aspernatur, ipsum totam quidem
    architecto nobis veniam perferendis iste? Quisquam, quod. Quisquam, quod.
  </p>
</section>
